body {
  margin: 0;
  height: 100vh;
  background-color: #000000;
  color: #7a2020;    
  display: flex;
  justify-content: center;
  align-items: center;
}

#clock {
  font-size: 12vw;
  text-align: center;
  border-radius: 20px;
  padding: 20px 40px;
}